<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Admin </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Admin</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card mode="md" class="dashboard-card--users-card">
    <ion-card-header>
      <ion-card-title>Users</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="position-relative">
        <span class="dashboard-card--numbers">200</span>
        <div class="dashboard-card--icon">
          <ion-icon name="people-outline" size="large"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card mode="md" class="dashboard-card--in-progress-card">
    <ion-card-header>
      <ion-card-title>Returns Filed</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="position-relative">
        <span class="dashboard-card--numbers">5000</span>
        <div class="dashboard-card--icon">
          <ion-icon name="trending-up-outline" size="large"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
