<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label> Email: xxx.xy@gmail.com </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-text color="danger" class="text-center" (click)="onLogout()">
        <ion-icon name="power-outline"></ion-icon> Logout
      </ion-text>
    </ion-item>

    <ion-note>
      <small> Last loggedIn: {{date | date:'medium'}} </small>
    </ion-note>
  </ion-list>
</ion-content>
